name: Update dist for dependabot prs

on:
  pull_request

jobs:
  update-dist:
    name: Update dist folders
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
    - uses: GitHubSecurityLab/actions-permissions/monitor@v1
      with:
        config: ${{ vars.PERMISSIONS_CONFIG }}
    - name: Set Apix Bot token
      id: app-token
      uses: mongodb/apix-action/token@6c3fde402c21942fa46cde003f190c2b23c59530
      with:
        app-id: ${{ secrets.APIXBOT_APP_ID }}
        private-key: ${{ secrets.APIXBOT_APP_PEM }}
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        ref: ${{ github.head_ref }}
        token: ${{ steps.app-token.outputs.token }}
        fetch-depth: 0
    - uses: actions/setup-node@v5
      with:
        node-version-file: 'create-jira/package.json'
    - run: |
        cd verify-changed-files
        npm ci
        npm run build
        cd ../create-jira
        npm ci
        npm run build
    - name: Commit dist
      run: |
        echo "Changes to dist files:"
        if git diff --exit-code --name-status -- verify-changed-files/dist create-jira/dist; then
          echo "No changes to dist folders"
        else 
          git config --global user.name "${{ steps.app-token.outputs.user-name }}"
          git config --global user.email "${{ steps.app-token.outputs.user-email }}"
          git add verify-changed-files/dist create-jira/dist
          git commit -m "chore: update dist folders"
          git push origin "${{ github.head_ref }}"
        fi
